		body {
			background-color: rgb(40,40,40);
			margin: 0;
			font-family: "proxima-nova", sans-serif;
			font-weight: bold;
			letter-spacing: 1px;
		}
		html, body {
   			height: 100%;
		}
		.scroll {
			top: -250px;
		}
		a {
			text-decoration: none;
		  	/* First we need to help some browsers along for this to work.
		     Just because a vendor prefix is there, doesn't mean it will
		     work in a browser made by that vendor either, it's just for
		     future-proofing purposes I guess. */
		 	 -o-transition:color .2s ease-out, background 2s ease-in;
		 	 -ms-transition:color .2s ease-out, background 2s ease-in;
		 	 -moz-transition:color .2s ease-out, background 2s ease-in;
		 	 -webkit-transition:color .2s ease-out, background 2s ease-in;
		  	/* ...and now for the proper property */
		  	transition:color .2s ease-out, background 2s ease-in;
		}
		:root {
			--main-color: rgba(205,200,0,1);
			--place-holder: rgba(70,120,170,1);
		}
		#header {
			/*background-image: url('img/Sunset1.JPG');*/
			background-image: url('img/Sunset1.JPG');
			background-size: cover;
			background-position: center;
			height: 100%;
			color: #ffffff;
		}
		video#bgvid { 
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    min-width: 100%;
		    min-height: 100%;
		    width: auto;
		    height: auto;
		    z-index: -100;
		    -ms-transform: translateX(-50%) translateY(-50%);
		    -moz-transform: translateX(-50%) translateY(-50%);
		    -webkit-transform: translateX(-50%) translateY(-50%);
		    transform: translateX(-50%) translateY(-50%);
		    background: url('img/Sunset1.JPG') no-repeat;
		    background-size: cover; 
		    background-position: center;
		}
		#blur {
			background-image: url('img/Sunset1blur.jpg');
			background-position: center;
			background-size: cover;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			opacity: 0;
		}
		body a {
			color: #000000;
            text-decoration: inherit;
		}
		#loading {
			z-index: 100;
			height: 100%;
			width: 100%;
			padding: 0;
			margin: 0;
			background-color: rgba(60,60,60,1);
			position: fixed;
		}
		#loading div {
			text-align: center;
			padding-top: 25%;
		}
		#enter {
			position: absolute;
			top: 48%;
			width: 100%;
			text-align: center;
			font-size: 1.65rem;
			letter-spacing: 5px;
			font-weight: normal;
		}
		#arrow {
			position: absolute;
			top: 90%;
			width: 100%;
			text-align: center;
		}
		#button1 {
			border-style: solid; 
			border-width: 1px; 
			border-radius: 2px; 
			padding: 7px 20px;
			background-color: rgba(150,150,150,0.5);
		}

		#button2 {
			border-style: solid; 
			border-width: 1px; 
			border-radius: 200px; 
			padding: 17px 13px;
			background-color: rgba(150,150,150,0.5);
		}
		#button3 {
			border-style: solid; 
			border-width: 1px; 
			border-radius: 2px; 
			padding: 7px 20px;
			background-color: rgba(150,150,150,0.3);
			font-weight: normal;
		}
		hr {
		    height: 1px;
		    border: 0;
		    border-top: 1px solid rgb(0,0,0);
		}
		.nav {
			top: 0;
            height: 75px;
            width: 100%;
            background-color: rgba(65, 65, 65, 1);
            position: relative;
            z-index: 15;
            text-align: center;
            color: black;
            padding-top: 20px;
            box-shadow: ;
		}	
		a.nav-active {
   			 color:#ccc;
		}	
		#navigation {
            list-style: none;
            padding: 0.1%;
            margin: 0px 0px;
            color: black;
            text-align: center;
            font-family:inherit;
            font-weight: normal;
            }
        #navigation li {
            display: inline;
            margin:0% 6.5% 0% 3%;
            }
        #navigation a {
            color: inherit;
            text-decoration: inherit;
            }
        #navigation a:hover {
            color: var(--main-color); 
            }
        #first {
        	height: 60%;
        	min-height: 550px;
        	background-color: rgba(75, 75, 75, 1);
        }
        #second {
        	height: 60%;
        	min-height: 550px;
        	background-color: rgba(75, 75, 75, 1);
        }
        #backgroundContent {
        	height: 60%;
        	min-height: 550px;
        	background-color: rgba(75, 75, 75, 1);
        	border-style: solid;
        	border-width: 1px 0px 0px 0px;
        	border-top-color: #111111;	
        }
        .aboutDiv {
        	text-align: left;
        	width: 28%;
        	float: left;
        	height: 300px;
        	line-height: 200%;
        	font-size: 1.1em;
        	padding: 4% 2% 8% 2%;
        }
        .aboutDiv h1 {
        	font-size: 3em;
        	color: var(--main-color); 
        	letter-spacing: 0; 
        }
        .aboutDiv p {
        	max-width: 450px;
        }
        .aboutIMG {
        	width: 200px;
        	height: auto;
        	text-align: center;
        }
        .connectDiv {
        	text-align: left;
        	width: 28%;
        	float: left;
        	height: 100px;
        	line-height: 200%;
        	font-size: 1.1em;
        	padding: 4% 2% 7% 2%;
        }
        .connectDiv h1 {
        	font-size: 3em;
        	color: var(--main-color);  
        	letter-spacing: 0; 
        }
        .connectDiv p {
        	max-width: 450px;
        }
        #iconContainer {
        	width: 90%;
        	height: 100px;
        	text-align: center;
        	margin: auto;
        	font-family:inherit;
            font-weight: normal;
        }
        .ICSubContainer {
        	width: 220px;
        	height: 200px;
        	text-align: center;
        	float: auto;
        	display: inline-block;
        	margin: 1%;
        	color: black;
        	-o-transition:color .5s ease-out;
			-ms-transition:color .5s ease-out;
			-moz-transition:color .5s ease-out;
			-webkit-transition:color .5s ease-out;
			  /* ...and now for the proper property */
			transition:color .5s ease-out;
        }
        .ICSubContainer a:hover {
		 	color: var(--main-color); 
        }
      
        .icon {
        	width: 80px;
        	height: auto;
        	text-align: center;
        }
        #portfolio {
			height: 10px;
			margin: .5%;
			padding-top: 100px;
			margin-top: -95px;
			position: relative;
		}
		#portfolio2 {
			height: auto;
			margin: .5%;
			padding-top: 100px;
			margin-top: -95px;
			position: relative;
		}
		#wrap {
		    width:100%;
		}
		#wrap img {
		    height:auto;
		    display:block;
		    margin: auto ;
		    padding: .5%;
		    border:none;
		    float:left;
		    visibility: hidden;
		}
		.wide_col {
			width:50%;
			float: left;
		}
		.wide_col .small_img img {
		    width:24%;
		}
		.wide_col .medium_img img {
		    width:49%;
		}
		.wide_col img {
		    width:99%;
		}

		#footer {
			position: relative;
			height: 60px;
			position: relative;
			bottom: 0;
			padding: 0% 6%;
			margin: 0%;
		}
		#footer p {
			letter-spacing: 3px;
			color: rgba(150,150,150,1);
			font-weight: normal;
			display: table-cell; 
			height: 60px; 
			padding: 0 20px; 
			vertical-align: middle;
			position: relative;

		}